<div id="header">
  <div id="wrapper">
    <a href="/" id="name">gerry-pass.js</a>

    <div id="middle"></div>

    <a id="menu-trigger">
      Menu <span></span>
    </a>

    <div id="menu-listed">
      <a href="/">about me</a>
      <a href="/my-work">my work</a>
      <a href="/problems-i-solve">problems i solve</a>
      <a href="/faqs">faqs</a>
      <a href="/hire-me">hire me</a>
      <a href="http://rgpass.ghost.io/" target="_blank">blog</a>
    </div>
  </div>
</div>
