<title>
  gerry pass
  <% if (title) { %>
   | <%= title %>
  <% } %>

</title>
<meta name="viewport" content="width=device-width, initial-scale=1">
<meta property="og:url" content="https://gp-portfolio.herokuapp.com/" />
<meta property="og:title" content="Gerry Pass - Full-Stack JavaScript Developer" />
<meta property="og:image" content="https://gp-portfolio.herokuapp.com/img/headshot.jpg" />
<meta property="og:description" content="As evidenced by my background in engineering, there are two things that I love: building fully-functional, user-friendly apps and simplifying the complex. You can find me in the zone listening to dubstep with noise-cancelling headphones and drinking a Red Bull." />
<link href="https://fonts.googleapis.com/css?family=Heebo:400,700|Exo:300,700" rel="stylesheet">
<link rel="stylesheet" type="text/css" href="/css/main.css">
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.6.3/css/font-awesome.css">
