<div id="menu">
  <a href="/"><span>about me</span></a>
  <a href="/my-work"><span>my work</span></a>
  <a href="/problems-i-solve"><span>problems i solve</span></a>
  <a href="/faqs"><span>faqs</span></a>
  <a href="/hire-me"><span>get me on your team</span></a>
</div>
