<!DOCTYPE html>
<html>
<head>
  <% include ./shared/_head.ejs %>
</head>
<body>

<% include ./shared/_header.ejs %>
<% include ./shared/_menu.ejs %>

<script src="/js/main.js"></script>

<main id="about">
<div class="wrapper">
  <h1>about me</h1>

  <h4 id="one-sentence-summary">
    I’m a <a>full-stack JavaScript developer</a> with a passion for <a>solving problems</a>.
  </h4>

  <section>
    <p>
      As evidenced by my background in engineering, there are two things that I love: building fully-functional, user-friendly apps and simplifying the complex. You can find me in the zone listening to dubstep with noise-cancelling headphones and drinking a Red Bull.
    </p>

    <p>
      My other passions include positive psychology, stand-up comedy, mixed martial arts, and drawing.
    </p>
  </section>
</div>

<section id="photos">
  <div class="wrapper">
    <img src="/img/free-hugs.jpg">
  </div>
</section>

<section>
  <div class="wrapper">
    <blockquote>
      “Gerry is an awesome, entrepreneurially-oriented developer. He approaches technical problems with the user in mind, and is not afraid to wear multiple hats, and do whatever is needed, to create high quality output. I'd pick him to join me in the trenches for any new project.”
    </blockquote>

    <small class="cite">
      <a href="https://www.linkedin.com/in/adventurejones" target="_blank">Ryan Jones</a>, CEO of <a href="http://florencehc.com/" target="_blank">Florence Healthcare</a>
    </small>
  </div>
</section>

</div>
</main>

</body>
</html>
