<!DOCTYPE html>
<html>
<head>
  <% include ./shared/_head.ejs %>
</head>
<body>

<% include ./shared/_header.ejs %>
<% include ./shared/_menu.ejs %>

<script src="/js/main.js"></script>

<main>
  <div id="wrapper">
    <h1>about me</h1>
  </div>
</main>

</body>
</html>
