<!DOCTYPE html>
<html>
<head>
  <% include ./shared/_head.ejs %>
</head>
<body>
  <% include ./shared/_header.ejs %>
  <% include ./shared/_menu.ejs %>

  <script src="/js/main.js"></script>

  <h1>about me</h1>
</body>
</html>
