<!DOCTYPE html>
<html>
<head>
  <% include ./shared/_head.ejs %>
</head>
<body>

<% include ./shared/_header.ejs %>
<% include ./shared/_menu.ejs %>

<script src="/js/main.js"></script>

<main id="about">
<div class="wrapper">
  <h1>about me</h1>

  <h4 id="one-sentence-summary">
    I’m a <a href="/my-work">full-stack JavaScript developer</a> with a passion for <a href="/problems-i-solve">solving problems</a>.
  </h4>

  <section>
    <p>
      As evidenced by my background in engineering, there are two things that I love: building fully-functional, user-friendly apps and simplifying the complex. You can find me in the zone listening to dubstep with noise-cancelling headphones and drinking a Red Bull.
    </p>

    <p>
      My other passions include positive psychology, stand-up comedy, mixed martial arts, and drawing.
    </p>
  </section>
</div>

<section id="photos">
  <div class="wrapper">
    <img src="/img/free-hugs.jpg">
  </div>
</section>

<section>
  <h2>testimonials</h2>
  <div class="wrapper">
    <blockquote>
      “Gerry is an awesome, entrepreneurially-oriented developer. He approaches technical problems with the user in mind, and is not afraid to wear multiple hats, and do whatever is needed, to create high quality output. I'd pick him to join me in the trenches for any new project.”
    </blockquote>

    <small class="cite">
      -- <a href="https://www.linkedin.com/in/adventurejones" target="_blank">Ryan Jones</a>, CEO of <a href="http://florencehc.com/" target="_blank">Florence Healthcare</a>
    </small>

    <blockquote>
      “Gerry has been a tremendous asset to our instructional team and a joy to work with. It's difficult to find an individual with coding and teaching chops. He possesses both.... I hope to work with him again in the future.”
    </blockquote>

    <small class="cite">
      -- <a href="https://www.linkedin.com/in/marcwright1" target="_blank">Marc Wright</a>, instructor at <a href="https://generalassemb.ly/" target="_blank">General Assembly</a>
    </small>

    <blockquote>
      “Gerry is kind and hard-working, with an engineer's mind.... He is my go to reference when I'm tackling a difficult programming problem and need another perspective.”
    </blockquote>

    <small class="cite">
      -- <a href="https://www.linkedin.com/in/jordanstreiff" target="_blank">Jordan Streiff</a>, mobile Developer at <a href="http://www.toolbox9.com/" target="_blank">Toolbox No. 9</a>
    </small>
  </div>
</section>

</div>
</main>

</body>
</html>
