<!DOCTYPE html>
<html>
<head>
  <% include ./shared/_head.ejs %>
</head>
<body>

<% include ./shared/_header.ejs %>
<% include ./shared/_menu.ejs %>

<script src="/js/main.js"></script>

<main id="faqs">
<div class="wrapper">
  <h1>faqs</h1>

  <h4 id="one-sentence-summary">
    Let me answer some questions you may be having. If you have any others, <a href="mailto:rgpass@gmail.com">email me</a>.
  </h4>

  <section>
    <div class="content-well">
      <p class="question">“Could you tell me more about yourself?”</p>

      <p>
        Absolutely. I was born in Richmond, Virginia to Richard and… just kidding. :)
      </p>

      <p>
        One of my biggest passions is positive psychology, or the psychology of happiness. Utilizing the tests in the <a href="http://thehowofhappiness.com/" target="_blank">How of Happiness</a>, I learned that one of my biggest drivers is reaching a state of flow (commonly called “being in the zone”). When I started teaching myself to code, I would often find myself coming back to senses and realizing that four hours had passed. This was when I knew that this career path was right for me. A few months later, I quit my job as an account manager and sales engineer to teach myself full-time.
      </p>

      <p>
        Since then, I’ve gravitated towards front-end development, as it requires both problem-solving and creativity.
      </p>
    </div>

    <div class="content-well">
      <p class="question">“Why should I hire you?”</p>

      <p>
        I solve problems, have a proven track-record, and love working hard on challenging projects. You can find me in the zone listening to fast-paced music with noise-canceling headphones while drinking a Red Bull. I enjoy wearing many hats, although my favorite role is one of a JavaScript-focused front-end developer.
      </p>
    </div>

    <div class="content-well">
      <p class="question">“Are you available to take on new work?”</p>

      <p>
        I am currently available for part-time remote work. Get in contact with me and we can discuss your needs and how I can help.
      </p>
    </div>

    <div class="content-well">
      <p class="question">“Whoa, your is rate is too high.”</p>

      <p>
        I strive to provide at least 10x more value than I charge. If you’re starting out with a business idea and want to hire a developer, one hour on the phone with me can easily save you $1,000 plus countless hours going down a rabbit hole.
      </p>
    </div>

    <div class="content-well">
      <p class="question">“Are you the baddest developer this side of the Mississippi?”</p>

      <p>
        Y’know, I’m surprised how often I’m asked that question. But to give you an honest answer, my work often elicits a response between “fresh” and “Oh my gosh, that’s fresh to death.”
      </p>
    </div>
  </section>
</div>
</main>

</body>
</html>
