<!DOCTYPE html>
<html>
<head>
  <% include ./shared/_head.ejs %>
</head>
<body>

<% include ./shared/_header.ejs %>
<% include ./shared/_menu.ejs %>

<script src="/js/main.js"></script>

<main id="hire-me">
<div class="wrapper">
  <h1>hire me</h1>

  <h4 id="one-sentence-summary">
    I’m ready to build your product and solve your challenging problems.
  </h4>

  <section>
    <p>
      My standard rate is $75 per hour. I strive to provide 10x more value than that. This rate is negotiable depending on the hours per week and length of the project/contract.
    </p>
  </section>

  <section>
    <div class="contact-group">
      <a class="icon" href="mailto:rgpass@gmail.com">
        <i class="fa fa-fw fa-lg fa-envelope"></i>
      </a>

      <div class="info">
        email me at rgpass@gmail.com
      </div>
    </div>

    <div class="contact-group">
      <a class="icon" href="tel:+14049539976">
        <i class="fa fa-fw fa-lg fa-phone"></i>
      </a>

      <div class="info">
        call me at +1 (404) 953-9976
      </div>
    </div>

    <div class="contact-group">
      <a class="icon" href="https://www.linkedin.com/in/gerry-pass-11379340">
        <i class="fa fa-fw fa-lg fa-linkedin"></i>
      </a>

      <div class="info">
        connect with me on LinkedIn
      </div>
    </div>

    <div class="contact-group">
      <a class="icon" href="https://twitter.com/rgp4ss">
        <i class="fa fa-fw fa-lg fa-twitter"></i>
      </a>

      <div class="info">
        follow me on Twitter
      </div>
    </div>
  </section>
</div>
</main>

</body>
</html>
