<!DOCTYPE html>
<html>
<head>
  <% include ./shared/_head.ejs %>
</head>
<body>

<% include ./shared/_header.ejs %>
<% include ./shared/_menu.ejs %>

<script src="/js/main.js"></script>

<main id="my-work">
<div class="wrapper">
  <h1>my work</h1>

  <h4 id="one-sentence-summary">
    I’m an engineer; I build fully-functional, user-friendly products and solve problems.
  </h4>

  <section id="timeline">
    <div class="timeline-block">
      <div class="icon-circle">
        <span class="icon"><i class="fa fa-fw fa-lg fa-fighter-jet"></i></span>
      </div>

      <div class="timeline-well">
        <h3><a href="/">Portfolio Page</a></h3>

        <p class="date">
          July 2016
        </p>

        <div class="content">
          <p>I wanted to make a site that represented my skills and personality better than a resume. My target audience includes CTOs of startups and devs working on challenging open-source projects.</p>

          <p>All the design, prototyping, code, and deployment is my own. Technology used includes: <a href="http://www.sketchapp.com/" target="_blank">Sketch</a>, <a href="https://www.invisionapp.com/" target="_blank">InVision</a>, HTML, <a href="http://sass-lang.com/" target="_blank">SCSS</a>, <a href="https://babeljs.io/repl/" target="_blank">ES6</a>, vanilla JavaScript, and <a href="heroku.com" target="_blank">Heroku</a>.</p>

          <p>
            <span class="strong">What I loved about it:</span> was able to apply my design training, went through a high-velocity prototyping process to build it, everything is my own code although I truely stand on the shoulders of giants in terms of inspiration, tutorials, and feedback
          </p>
        </div>
      </div>
    </div>

    <div class="timeline-block">
      <div class="icon-circle">
        <span class="icon"><i class="fa fa-fw fa-lg fa-book"></i></span>
      </div>

      <div class="timeline-well">
        <h3><a href="https://www.amazon.com/Traction-Startup-Achieve-Explosive-Customer-ebook/dp/B00TY3ZOMS" target="_blank">Traction: How Any Startup Can Achieve Explosive Growth</a> by Gabriel Weinberg and Justin Mares</h3>

        <p class="date">
          July 2016
        </p>

        <div class="content">
          <p>In Traction, Weinberg and Mares talk about how to grow a business -- not just make a product. This is the only book I’ve read that discussed all the strategies a company can grow a business. They also discuss the Bullseye Method of finding out which traction strategies will work with you, all of which require an investment of less than one month and $1,000 to test for viability.</p>

          <p><span class="strong">What I loved about it:</span> the high-level summary, followed by action items, followed by details on how to execute those</p>
        </div>
      </div>
    </div>

    <div class="timeline-block">
      <div class="icon-circle">
        <span class="icon"><i class="fa fa-fw fa-lg fa-book"></i></span>
      </div>

      <div class="timeline-well">
        <h3><a href="https://www.amazon.com/Influence-Psychology-Persuasion-Robert-Cialdini/dp/006124189X" target="_blank">Influence: The Psychology of Persuasion</a> by Robert Cialdini</h3>

        <p class="date">
          June 2016
        </p>

        <div class="content">
          <p>Influence goes through the six principles of persuasion that science currently knows about and has tested. Looking at a summary of the book, you’d be inclined to say, “Duh?” But the details, level of research, and valueable insights can help any sales professional or entrepreneur.</p>

          <p><span class="strong">What I loved about it:</span> the empirical evidence behind each of the influencers, how we auto-respond to so many things, and he covers how to combat it when someone is using it to manipulate us</p>
        </div>
      </div>
    </div>

    <div class="timeline-block">
      <div class="icon-circle">
        <span class="icon"><i class="fa fa-fw fa-lg fa-book"></i></span>
      </div>

      <div class="timeline-well">
        <h3><a href="https://www.amazon.com/Hooked-How-Build-Habit-Forming-Products-ebook/dp/B00HJ4A43S#navbar" target="_blank">Hooked: How to Build Habit-Forming Products</a> by Nir Eyal</h3>

        <p class="date">
          June 2016
        </p>

        <div class="content">
          <p>After checking Facebook for the 10th time that morning, I decided to start reading Hooked. There were a lot of valuable insights in this book, such as how many products start off as "vitamins" but become "painkillers" as a user gets more invested and how product owners must first understand the emotion that a user has before using the product to enable the use of effective triggers.</p>

          <p><span class="strong">What I loved about it:</span> clear breakdown of the complex, simple action items to make your own product habitual, discussed the ethics of creating a habit versus an addiction</p>
        </div>
      </div>
    </div>

    <div class="timeline-block">
      <div class="icon-circle">
        <span class="icon"><i class="fa fa-fw fa-lg fa-book"></i></span>
      </div>

      <div class="timeline-well">
        <h3><a href="https://www.amazon.com/Growth-Hacker-Marketing-Primer-Advertising/dp/1591847389" target="_blank">Growth Hacker Marketing: A Primer on the Future of PR, Marketing, and Advertising</a> by Ryan Holiday</h3>

        <p class="date">
          June 2016
        </p>

        <div class="content">
          <p>Growth Hacker Marketing was my first book into the world of growth hacking. Before read it I thought the job title of "growth hacker" was silly -- it was just an excuse for people in marketing to use the word "hacker." I was astonished to learn that most growth hackers are programmers who focus on gaining traction through an engineer's mindset: measurable, repeatable, scalable.</p>

          <p><span class="strong">What I loved about it:</span> argued that virality is not luck and must be embedded into the product from Day 1, there were many case studies including Hotmail, Twitter, and Dropbox, was told in a way that made me want to learn more</p>
        </div>
      </div>
    </div>

    <div class="timeline-block">
      <div class="icon-circle">
        <span class="icon"><i class="fa fa-fw fa-lg fa-briefcase"></i></span>
      </div>

      <div class="timeline-well">
        <h3>Left <a href="http://florencehc.com/" target="_blank">Florence Healthcare</a></h3>

        <p class="date">
          May 2016
        </p>

        <div class="content">
          <p><span class="strong">What I learned:</span> a ton about startups, JavaScript, AngularJS, UI/UX, recruiting, and the challenges involved in healthcare tech -- especially healthcare cloud tech</p>

          <p><span class="strong">What I loved about it:</span> being the first employee was amazingly empowering, was able to be the CEO of my job, wore many hats (head of HR, whaaat?) came in pretty green with AngularJS and JavaScript in general and was able to learn a lot and apply it immediatley, the team is passionate about healthcare tech</p>

          <p><span class="strong">Reason for leaving:</span> my wife and I decided to take a sabbatical in Thailand for 6 months, however I hope to return to Florence when we get back home</p>
        </div>
      </div>
    </div>

    <div class="timeline-block">
      <div class="icon-circle">
        <span class="icon"><i class="fa fa-fw fa-lg fa-level-up"></i></span>
      </div>

      <div class="timeline-well">
        <h3><a href="https://frontendmasters.com/courses/functional-js-lite/" target="_blank">Functional-Lite JavaScript</a> by Kyle Simpson</h3>

        <p class="date">
          April 2016
        </p>

        <div class="content">
          <p>In this course, Kyle Simpson introduces functional programming and how a light version can be applied to make our code much more resilient and have less chance of side effects.</p>

          <p><span class="strong">What I loved about it:</span> it was my first introduction to functional programming concepts, the concepts can make the code have less side effects</p>
        </div>
      </div>
    </div>

    <div class="timeline-block">
      <div class="icon-circle">
        <span class="icon"><i class="fa fa-fw fa-lg fa-level-up"></i></span>
      </div>

      <div class="timeline-well">
        <h3><a href="https://frontendmasters.com/courses/angular-components-es6/" target="_blank">Component-Based Architecture in AngularJS 1.x and ES6</a> by Scott Moss</h3>

        <p class="date">
          January 2016
        </p>

        <div class="content">
          <p>In this course, Scott Moss covers what components are, the benefits of having components, and how to implement them in Angular 1.x and ES6.</p>

          <p><span class="strong">What I loved about it:</span> component-based architecture allows for extremely clean code organization and file structuring, allows code to be broken up into smaller pieces which lower cognitive overhead, introduced me to Webpack which significantly speeds up front-end development</p>
        </div>
      </div>
    </div>

    <div class="timeline-block">
      <div class="icon-circle">
        <span class="icon"><i class="fa fa-fw fa-lg fa-level-up"></i></span>
      </div>

      <div class="timeline-well">
        <h3><a href="https://codyhouse.co/course/mastering-css-transitions-transformations-animations/" target="_blank">Mastering CSS Transitions, Transforms & Animations</a> by Claudia Romano and Sebastiano Guerriero</h3>

        <p class="date">
          November 2016
        </p>

        <div class="content">
          <p>In this course, the team at Cody House cover transitions, transforms, and animations. This was my first real tutorial on this, not including the simple ones I did on Codecademy when I first started in web development. It was cool to see how powerful CSS is and all that can be done with just a few lines.</p>

          <p><span class="strong">What I loved about it:</span> made my first animations, learned new terminology to help me build what I want, was able to apply the lessons in mini-projects after each lesson, learned how to do menus similar to what is on this page</p>
        </div>
      </div>
    </div>

    <div class="timeline-block">
      <div class="icon-circle">
        <span class="icon"><i class="fa fa-fw fa-lg fa-book"></i></span>
      </div>

      <div class="timeline-well">
        <h3><a href="https://github.com/getify/You-Dont-Know-JS" target="_blank">You Don't Know JavaScript</a> by Kyle Simpson</h3>

        <p class="date">
          November 2015
        </p>

        <div class="content">
          <p>This book series is the bible of advanced JavaScript. Each book is packed full of new stuff. I didn't feel confident in my JavaScript abilities until after reading this series. I fully plan on re-reading it soon so I can internalize all the concepts that I missed the first time.</p>

          <p><span class="strong">What I loved about it:</span> clear examples, light humor, depth inside every topic, free</p>
        </div>
      </div>
    </div>

    <div class="timeline-block">
      <div class="icon-circle">
        <span class="icon"><i class="fa fa-fw fa-lg fa-group"></i></span>
      </div>

      <div class="timeline-well">
        <h3>Gave a talk on refactoring at <a href="http://connect-js.com/" target="_blank">ConnectJS</a></h3>

        <p class="date">
          October 2015
        </p>

        <div class="content">
          <p>This was my first conference talk. The topic focused on the benefits of refactoring, challenging paradigms (such as "Code without tests is legacy code" and "Software development is similar to engineering"), and strategies to improve code quality.</p>

          <p><span class="strong">What I loved about it:</span> great experience, had a lot of fun doing it</p>
        </div>
      </div>
    </div>

    <div class="timeline-block">
      <div class="icon-circle">
        <span class="icon"><i class="fa fa-fw fa-lg fa-book"></i></span>
      </div>

      <div class="timeline-well">
        <h3><a href="https://addyosmani.com/resources/essentialjsdesignpatterns/book/" target="_blank">Learning JavaScript Design Patterns</a> by Andy Osmani</h3>

        <p class="date">
          September 2015
        </p>

        <div class="content">
          <p>This book was my first introduction into design patterns and helped me level up my JavaScript knowledge. I would like to learn more about design patterns to help me stand on the shoulders of smart people who have solved similar problems. This book did that for JavaScript patterns.</p>

          <p><span class="strong">What I loved about it:</span> content-heavy, free</p>
        </div>
      </div>
    </div>

    <div class="timeline-block">
      <div class="icon-circle">
        <span class="icon"><i class="fa fa-fw fa-lg fa-book"></i></span>
      </div>

      <div class="timeline-well">
        <h3><a href="https://www.amazon.com/Zero-One-Notes-Startups-Future/dp/0804139296" target="_blank">Zero to One: Notes on Startups, or How to Build the Future</a> by Peter Thiel</h3>

        <p class="date">
          September 2015
        </p>

        <div class="content">
          <p>This book was pretty enlightening as to what makes great companies. The concept is similar to a blue ocean strategy of picking something that has no competitors, but this book talks about making something that didn't exist before. The thing that replaces Google won't be another search engine, it will be something that makes search engines obsolete -- or a product that creates something out of nothing</p>

          <p><span class="strong">What I loved about it:</span> focused on creating the future, inspiring</p>
        </div>
      </div>
    </div>

    <div class="timeline-block">
      <div class="icon-circle">
        <span class="icon"><i class="fa fa-fw fa-lg fa-book"></i></span>
      </div>

      <div class="timeline-well">
        <h3><a href="http://shop.oreilly.com/product/9780596517748.do" target="_blank">JavaScript: The Good Parts</a> by Douglas Crockford</h3>

        <p class="date">
          July 2015
        </p>

        <div class="content">
          <p>This book was a nice refresher for me on some intricacies of JavaScript and why some of things seen as quirks in JS are actually quite powerful (such as the "this" object).</p>

          <p><span class="strong">What I loved about it:</span> good introduction to the quirks of JavaScript</p>
        </div>
      </div>
    </div>

    <div class="timeline-block">
      <div class="icon-circle">
        <span class="icon"><i class="fa fa-fw fa-lg fa-book"></i></span>
      </div>

      <div class="timeline-well">
        <h3><a href="https://www.ng-book.com/" target="_blank">ng-book: The Complete Book on AngularJS</a></h3>

        <p class="date">
          June 2015
        </p>

        <div class="content">
          <p>This book covers everything for Angular, sometimes to a fault. 400+ pages of in-depth material of the inner workings of AngularJS and how it all comes together.</p>

          <p><span class="strong">What I loved about it:</span> incredibly in-depth, covered everything for AngularJS</p>
        </div>
      </div>
    </div>

    <div class="timeline-block">
      <div class="icon-circle">
        <span class="icon"><i class="fa fa-fw fa-lg fa-book"></i></span>
      </div>

      <div class="timeline-well">
        <h3><a href="https://www.amazon.com/How-Win-Friends-Influence-People/dp/0671027034" target="_blank">How to Win Friends and Influence People</a> by Dale Carnegie</h3>

        <p class="date">
          May 2015
        </p>

        <div class="content">
          <p>This book is incredibly helpful in making friends and handling office politics. Since reading this, I've focused on remembering people's names and have learned to keep asking genuine questions about a person's life. These two steps alone have helped me make more friends. The one thing that helped me at work was the strategy of putting what you want in terms of benefits for whoever it is you need to convince.</p>

          <p><span class="strong">What I loved about it:</span> real-world examples, action items to apply in your day-to-day life, uses the word "whippersnappers"</p>
        </div>
      </div>
    </div>

    <div class="timeline-block">
      <div class="icon-circle">
        <span class="icon"><i class="fa fa-fw fa-lg fa-book"></i></span>
      </div>

      <div class="timeline-well">
        <h3><a href="https://www.amazon.com/Start-Why-Leaders-Inspire-Everyone/dp/1591846447" target="_blank">Start with Why: How Great Leaders Inspire Everyone to Take Action</a> by Simon Sinek</h3>

        <p class="date">
          April 2015
        </p>

        <div class="content">
          <p>This book has a pretty fascinating hypothesis: starting with why, then discussing how, then discussing what is much more powerful than the reverse. In my life, I've tried starting with why and it has helped me pick up good habits and drop bad ones. It's also helped me when I was in charge of hiring at Florence Healthcare -- I was always curious to see why candidates wanted to be developers and why they wanted to work at Florence. Good answers to these questions was always a strong sign of someone's commitment.</p>

          <p><span class="strong">What I loved about it:</span> real-world case studies, helped me change habits, applicable to hiring</p>
        </div>
      </div>
    </div>

    <div class="timeline-block">
      <div class="icon-circle">
        <span class="icon"><i class="fa fa-fw fa-lg fa-briefcase"></i></span>
      </div>

      <div class="timeline-well">
        <h3>Lead Front-End Developer at <a href="http://florencehc.com/" target="_blank">Florence Healthcare</a></h3>

        <p class="date">
          April 2015
        </p>

        <div class="content">
          <p><span class="strong">Job responsibilities:</span> lead software development for the front-end, advance the UI/UX and front-end functionality, create an AngularJS from scratch, lead developer hiring efforts</p>

          <p><span class="strong">Why I was excited for this opportunity:</span> my first JavaScript-focused role, able to build an application from scratch using a new front-end framework, first employee at a tech startup, get to wear many hats and thus no boring days, could get emotionally invested in building something that would help find cures</p>
        </div>
      </div>
    </div>

    <div class="timeline-block">
      <div class="icon-circle">
        <span class="icon"><i class="fa fa-fw fa-lg fa-briefcase"></i></span>
      </div>

      <div class="timeline-well">
        <h3>Left <a href="https://generalassemb.ly/" target="_blank">General Assembly</a></h3>

        <p class="date">
          April 2015
        </p>

        <div class="content">
          <p><span class="strong">What I learned:</span> reinforced my learning with Rails, intermediate JavaScript, beginner Angular</p>

          <p><span class="strong">What I loved about it:</span> teaching, the students who were passionate about programming and building amazing things, saying "Just build it" to my student's questions when I knew they were close to figuring it out on their own, learned AngularJS on the job</p>

          <p><span class="strong">Reason for leaving:</span> I was ready to get back out into the wild to continue learning the craft of web development. I hope to return to General Assembly in a couple of years after getting some more experience in the real world.</p>
        </div>
      </div>
    </div>

    <div class="timeline-block">
      <div class="icon-circle">
        <span class="icon"><i class="fa fa-fw fa-lg fa-fighter-jet"></i></span>
      </div>

      <div class="timeline-well">
        <h3>Lead Developer for <a href="https://getbubble.firebaseapp.com/#/" target="_blank">Bubble</a></h3>

        <p class="date">
          April 2015
        </p>

        <div class="content">
          <p>
            This hackathon project focused on creating a real-time tool for instructors and students. The problem to be solved was that students will often feel too timid to ask questions or do not want to appear stupid by asking the instructor to slow down. Also, instructors have a hard time pushing quizzes out in the middle of a lesson to gauge the current level of understanding.
          </p>

          <p>
            <span class="strong">What I loved about it:</span> first real project with <a href="https://www.firebase.com/" target="_blank">Firebase</a>, everyone on the hackathon team were all smart
          </p>
        </div>
      </div>
    </div>

    <div class="timeline-block">
      <div class="icon-circle">
        <span class="icon"><i class="fa fa-fw fa-lg fa-fighter-jet"></i></span>
      </div>

      <div class="timeline-well">
        <h3>Lead Developer for <a href="http://middleofus.herokuapp.com/" target="_blank">MiddleOf.Us</a></h3>

        <p class="date">
          January 2015
        </p>

        <div class="content">
          <p>
            MiddleOf.Us solves the problem of finding free wifi in the middle of two places. It is perfect for people who want to meet up and study or work on homework/projects that require the internet.
          </p>

          <p>
            This was my first time as Lead Developer for a project whose main focus is not Ruby on Rails. Although built with a Rails backend, MiddleOf.Us is more front-end focused with AngularJS.
          </p>

          <p>
            <span class="strong">What I loved about it:</span> first time building an app with AngularJS, lead a team of three (not including myself), have had a lot of people tell me that it's useful
          </p>
        </div>
      </div>
    </div>

    <div class="timeline-block">
      <div class="icon-circle">
        <span class="icon"><i class="fa fa-fw fa-lg fa-book"></i></span>
      </div>

      <div class="timeline-well">
        <h3><a href="http://theleanstartup.com/" target="_blank">The Lean Startup</a> by Eric Ries</h3>

        <p class="date">
          January 2015
        </p>

        <div class="content">
          <p>This was my first book into tech entrepreneurship. It was really cool to learn about how companies quickly focus on validating an idea, track data and figure out what customers really want, and pivot until product-market fit (PMF) is reached.</p>

          <p><span class="strong">What I loved about it:</span> focused on being flexible and using data to drive decisions, applied lean and agile mentalities to business creation</p>
        </div>
      </div>
    </div>

    <div class="timeline-block">
      <div class="icon-circle">
        <span class="icon"><i class="fa fa-fw fa-lg fa-book"></i></span>
      </div>

      <div class="timeline-well">
        <h3><a href="https://sublimetextbook.com/" target="_blank">Sublime Text Power User</a> by Wes Bos</h3>

        <p class="date">
          December 2014
        </p>

        <div class="content">
          <p>This book showed every shortcut and plugin to become a Sublime Text power user. This book alone has saved me hundreds of hours.</p>

          <p><span class="strong">What I loved about it:</span> very low time to break even on the time it took to read it, significantly increased my development velocity</p>
        </div>
      </div>
    </div>

    <div class="timeline-block">
      <div class="icon-circle">
        <span class="icon"><i class="fa fa-fw fa-lg fa-briefcase"></i></span>
      </div>

      <div class="timeline-well">
        <h3>Web Development Instructor at <a href="https://generalassemb.ly/" target="_blank">General Assembly</a></h3>

        <p class="date">
          September 2014
        </p>

        <div class="content">
          <p><span class="strong">Job responsibilities:</span> prepare and run lessons focusing on Ruby on Rails, help students with projects, mentor students before and after graduation</p>

          <p><span class="strong">Why I was excited for this opportunity:</span> it was just out of my comfort zone to be teaching so I had to work extra hard to be prepared, was always fond of teaching</p>
        </div>
      </div>
    </div>

    <div class="timeline-block">
      <div class="icon-circle">
        <span class="icon"><i class="fa fa-fw fa-lg fa-fighter-jet"></i></span>
      </div>

      <div class="timeline-well">
        <h3>Lead Developer of VVV Academy</h3>

        <p class="date">
          September 2014
        </p>

        <div class="content">
          <p>
            The Startup Weekend: Education hackathon focused on projects to increase education. Working with three other developers, we were able to turn an idea into a visual MVP in four hours and win 3rd place.
          </p>

          <p>
            <span class="strong">What I loved about it:</span> the idea wasn't fleshed out enough to start coding until about three hours to go and we were still able to pull off 3rd place
          </p>
        </div>
      </div>
    </div>

    <div class="timeline-block">
      <div class="icon-circle">
        <span class="icon"><i class="fa fa-fw fa-lg fa-briefcase"></i></span>
      </div>

      <div class="timeline-well">
        <h3>Left RotorCommerce</h3>

        <p class="date">
          August 2014
        </p>

        <div class="content">
          <p><span class="strong">What I learned:</span> a ton about startups, rapid prototyping, e-commerce</p>

          <p><span class="strong">What I loved about it:</span> being the first employee was amazingly empowering, challenged the CEO on business assumptions, every day was exciting and often required a pivot</p>

          <p><span class="strong">Reason for leaving:</span> after pivoting and doing more research, we were unable to reach product-market fit and decided to close shop</p>
        </div>
      </div>
    </div>

    <div class="timeline-block">
      <div class="icon-circle">
        <span class="icon"><i class="fa fa-fw fa-lg fa-briefcase"></i></span>
      </div>

      <div class="timeline-well">
        <h3>Software Engineering Contractor at RotorCommerce</h3>

        <p class="date">
          June 2014
        </p>

        <div class="content">
          <p><span class="strong">Job responsibilities:</span> create mockups and MVPs, challenge CEO on business assumptions</p>

          <p><span class="strong">Why I was excited for this opportunity:</span> I had never been the first employee at a startup before, the CEO was extremely knowledgeable and had a successful exit at his previous company</p>
        </div>
      </div>
    </div>

    <div class="timeline-block">
      <div class="icon-circle">
        <span class="icon"><i class="fa fa-fw fa-lg fa-book"></i></span>
      </div>

      <div class="timeline-well">
        <h3><a href="http://www.poodr.com/" target="_blank">Practical Object-Oriented Design in Ruby</a> by Sandi Metz</h3>

        <p class="date">
          June 2014
        </p>

        <div class="content">
          <p>
            My favorite programming book, Sandi Metz clearly articulates the power of object-oriented thinking (nouns and verbs instead of events) and how it can be used to make code not only easier to read, but much more flexible.
          </p>

          <p>
            Because the Agile process only assumes knowledge for the length of the sprint (typically two weeks or less), flexibility is the most important aspect. She covers the minute such as using a hash of arguments to the overview of smart ERDs and duck-typing.
          </p>

          <p><span class="strong">What I loved about it:</span> focused on writing code that can evolve over time, examples were clear and easy to understand</p>
        </div>
      </div>
    </div>

    <div class="timeline-block">
      <div class="icon-circle">
        <span class="icon"><i class="fa fa-fw fa-lg fa-fighter-jet"></i></span>
      </div>

      <div class="timeline-well">
        <h3>Founder of <a href="https://happs-p.herokuapp.com/" target="_blank">Happs</a></h3>

        <p class="date">
          May 2014
        </p>

        <div class="content">
          <p>
            My flagship Rails project, I wanted to combine the findings of positive psychology (the science of what makes people happy) with technology. Happs (Happy + Apps) enables you to make yourself happier in three ways: tracks your happiness over time, determines what activities will make you the happiest, and guides you through those activities.
          </p>

          <p>
            <span class="strong">What I loved about it:</span> full test coverage, first time using AJAX, set up my first SSL certificate (expired now), bought my first domain, the app is actually incredibly useful if you want to quantify and improve your happiness
          </p>
        </div>
      </div>
    </div>

    <div class="timeline-block">
      <div class="icon-circle">
        <span class="icon"><i class="fa fa-fw fa-lg fa-book"></i></span>
      </div>

      <div class="timeline-well">
        <h3><a href="http://www.amazon.com/gp/product/0321584104/ref=as_li_ss_tl?ie=UTF8&tag=eloqruby-20&linkCode=as2&camp=217145&creative=399349&creativeASIN=0321584104" target="_blank">Eloquent Ruby</a> by Russ Olsen</h3>

        <p class="date">
          April 2014
        </p>

        <div class="content">
          <p>
            Eloquent Ruby starts off where intro to Ruby books end. Its focus is to write code for the next person, living by the mantra "Always code as if the person who ends up maintaining your code is a violent psychopath who knows where you live." It covers a wide range of Ruby concepts well, however it assumes a decent amount of programming experience from the reader.
          </p>

          <p><span class="strong">What I loved about it:</span> dove deep into Ruby concepts</p>
        </div>
      </div>
    </div>

    <div class="timeline-block">
      <div class="icon-circle">
        <span class="icon"><i class="fa fa-fw fa-lg fa-briefcase"></i></span>
      </div>

      <div class="timeline-well">
        <h3>Left <a href="http://rigor.com/" target="_blank">Rigor</a></h3>

        <p class="date">
          April 2014
        </p>

        <div class="content">
          <p><span class="strong">What I learned:</span> Agile development, testing, refactoring</p>

          <p><span class="strong">What I loved about it:</span> it was my first startup job and it happened to be at <a href="http://www.tagonline.org/news-press/tag-unveils-the-top-10-innovative-technology-companies-in-georgia-2014/" target="_blank">the most innovative company in Georgia</a>, got to work under two senior developers</p>

          <p><span class="strong">Reason for leaving:</span> scope of work was completed and the contract was done</p>
        </div>
      </div>
    </div>

    <div class="timeline-block">
      <div class="icon-circle">
        <span class="icon"><i class="fa fa-fw fa-lg fa-briefcase"></i></span>
      </div>

      <div class="timeline-well">
        <h3>Software Engineering Contractor at <a href="http://rigor.com/" target="_blank">Rigor</a></h3>

        <p class="date">
          January 2014
        </p>

        <div class="content">
          <p><span class="strong">Job responsibilities:</span> refactor spaghetti code, improve the free tools</p>

          <p><span class="strong">Why I was excited for this opportunity:</span> it was my first job at a startup and my first since my career change into web development</p>
        </div>
      </div>
    </div>

    <div class="timeline-block">
      <div class="icon-circle">
        <span class="icon"><i class="fa fa-fw fa-lg fa-check"></i></span>
      </div>

      <div class="timeline-well">
        <h3>Made the decision to pursue web development</h3>

        <p class="date">
          May 2013
        </p>

        <div class="content">
          <p>One year before my wedding my (then) fiancee and I agreed that I needed a change and web development just made sense. Those two events are easily the best decisions I've made in my life. :)</p>

          <p><span class="strong">What I loved about it:</span> challenging career path, high demand for developers, increased flexibility on working location</p>
        </div>
      </div>
    </div>

    <div class="timeline-block">
      <div class="icon-circle">
        <span class="icon"><i class="fa fa-fw fa-lg fa-briefcase"></i></span>
      </div>

      <div class="timeline-well">
        <h3>Account Manager, Leadership Development Program Gradudate at Siemens</h3>

        <p class="date">
          July 2009 - May 2013
        </p>

        <div class="content">
          <p><span class="strong">Job responsibilities:</span> project management, business development, sales and marketing, customer relations management, process improvement</p>

          <p><span class="strong">Why I was excited for this opportunity:</span> it was my first job out of school and the Leadership Development Program's goal was to take high-potential candidate and groom them for management roles, was able to land a position where I was the youngest by 15+ years</p>

          <p><span class="strong">What I learned:</span> general business concepts, expectation management, project management, process improvement, general professional skills</p>

          <p><span class="strong">What I loved about it:</span> it was exciting to get a new position every six months for the first two years, got to travel on lots of customer visits</p>

          <p><span class="strong">Reason for leaving:</span> I wasn't challenged any more, the culture of a large corporation was the antithesis of what I was looking for</p>
        </div>
      </div>
    </div>

    <div class="timeline-block">
      <div class="icon-circle">
        <span class="icon"><i class="fa fa-fw fa-lg fa-graduation-cap"></i></span>
      </div>

      <div class="timeline-well">
        <h3>B.S. in Mechanical Engineering and Aerospace Engineering from West Virginia University</h3>

        <p class="date">
          May 2009
        </p>

        <div class="content">
          <p>Graduated Magna Cum Laude, President of the engineering honor society, First project lead for WVU's chapter of Engineers Without Borders</p>

          <p><span class="strong">What I loved about it:</span> ever since I was three years old I wanted to be an aerospace engineer (true story), was able to use what I learned to make a real distance in people's lives, challenging concepts helped me learn how to think logically</p>
        </div>
      </div>
    </div>
  </section>
</div>
</main>

</body>
</html>
