<!DOCTYPE html>
<html>
<head>
  <% include ./shared/_head.ejs %>
</head>
<body>

<% include ./shared/_header.ejs %>
<% include ./shared/_menu.ejs %>

<script src="/js/main.js"></script>

<main id="my-work">
<div class="wrapper">
  <h1>my work</h1>

  <h4 id="one-sentence-summary">
    I’m an engineer; I build fully-functional, user-friendly products and solve problems.
  </h4>
</div>
</main>

</body>
</html>
