<!DOCTYPE html>
<html>
<head>
  <% include ./shared/_head.ejs %>
</head>
<body>

<% include ./shared/_header.ejs %>
<% include ./shared/_menu.ejs %>

<script src="/js/main.js"></script>

<main id="problems-i-solve">
<div class="wrapper">
  <h1>problems i solve</h1>

  <h4 id="one-sentence-summary">
    These are the problems that I love solving and have done so many times.
  </h4>

  <section>
    <div class="content-well">
      <p class="problem">“I have a great business/app/startup idea, but I need a developer to build it.”</p>

      <p><span class="strong">Solution:</span> My first piece of advice will save you $1,000’s and countless hours -- do not hire a developer (yet!). We can work together to create an interactive prototype to gather real user data and feedback. Once we know that there’s a market for this product, I can either build it myself or if it’s not in my skill set, I will point you in the right direction.</p>

      <p><span class="strong">Qualifications:</span> I have been the first employee at two startups -- one successful and the other not, I have taken design courses to create user-friendly interfaces, I was the lead designer and developer at the successful startup, and I have created several interactive prototypes.</p>
    </div>

    <div class="content-well">
      <p class="problem">“I have a validated business model and product, now I just need to build it,” <span class="not-bold">or</span> “We need a developer to add features to our web app.”</p>

      <p><span class="strong">Solution:</span> Not many things on this planet make me happier than getting in the zone and building out a product, especially one that solves a real problem for real people. I am confident jumping into full-stack JavaScript projects plus any projects with Ruby on Rails back-end.</p>

      <p><span class="strong">Qualifications:</span> I have been the first employee at two startups -- one successful and the other not, I have taken design courses to create user-friendly interfaces, I was the lead designer and developer at the successful startup, and I have created several interactive prototypes.</p>
    </div>

    <div class="content-well">
      <p class="problem">“We need to increase our dev velocity / code quantity,” <span class="not-bold">or</span> “We need better code quality.”</p>

      <p><span class="strong">Solution:</span> Code quality and code quantity are two sides to the same coin. My strategy is to come in, analyze what is holding the team back from pushing out large volumes of high quantity code, and solving those issues. Typically, these two are solved by: code reviews & creating individualized learning paths, increasing the test coverage, and continuous integration/deployment.</p>

      <p><span class="strong">Qualifications:</span> I have been the lead JavaScript developer at a successful startup and was an instructor at General Assembly. At GA, I focused on TDD and have written 1,000’s of tests and worked with junior developers to write clean code. I have also given a talk at ConnectJS on the components of high quality code.</p>
    </div>
  </section>

  <section id="cta-section">
    <a id="cta" class="btn" href="/hire-me">get me on your team</a>
  </section>
</div>
</main>

</body>
</html>
