@import "./_variables.scss";

#menu {
  box-sizing: border-box;

  z-index: $header-menu-z-index;
  position: fixed;
  right: 0;
  top: 42px;
  width: 100%;
  max-width: 228px;
  height: calc(100vh - 42px);

  background-color: $blue;
  color: $white;
  padding: 10px 10px;

  transform: translateZ(0);
  transform: translateX(100%);
  transition: transform 0.25s cubic-bezier(.07,.23,.34,1);

  &.opened {
    transform: translateX(0%);
    box-shadow: -3px 5px 6px 0px rgba(0,0,0,0.250);
  }

  a {
    display: table;
    width: calc(100% - 10px);
    height: 60px;
    font-size: 20px;
    border-bottom: 1px solid rgba(255, 255, 255, 0.4);
    &:last-of-type {
      border-bottom: 0;
    }
    &, &:visited {
      color: $white;
    }
    padding-left: 10px;

    span {
      display: table-cell;
      vertical-align: middle;
    }
  }
}
