$blue: #3AC0F0;
$navy: #3B5998;
$font-family: 'Heebo', sans-serif;
$header-fonts: 'Exo', sans-serif;

$white: #FFF;
$black: #333;
$dark-gray: #666;
$gray: #979797;
$light-gray: #F0F0F0;
$lighter-gray: #F6F6F6;

$well-bg-color: #E5E5E5;
$well-text-color: $black;

$header-menu-z-index: 4;
$menu-trigger-z-index: 5;
$menu-open-time: 0.25s;
$outside-gutter-spacing: 10px;
$checkbox-transition-time: 0.2s;

$max-width: 960px;
