@import "./_variables.scss";
@import "./_rwd-mixins.scss";

#about {
  #intro {
    display: table;

    #headshot {
      display: table-cell;
      vertical-align: middle;
      max-height: 100px;
      max-width: 100px;
      border-radius: 50%;

      @include mobile-only {
        display: none;
      }
    }

    #intro-content {
      display: table-cell;
      vertical-align: middle;

      padding-left: 20px;

      @include mobile-only {
        padding-left: 0px;
      }

      @include tablet-only {
        padding-left: 5px;
      }
    }
  }

  section {
    padding: 40px 0px;
  }

  section:last-of-type {
    padding-bottom: 20px;
  }

  #summary {
    margin-bottom: 20px;
  }

  #photos {
    background-color: $light-gray;
    width: 100%;
    text-align: center;
    white-space: nowrap;
    overflow: scroll;
  }

  h2 {
    text-align: center;
    margin-bottom: 20px;
  }

  img {
    max-height: 200px;
    margin-right: 20px;

    &:last-of-type {
      margin-right: 0px;

      @include mobile-and-tablet {
        margin-right: 10px;
      }
    }
  }

  blockquote:nth-of-type(even), .cite:nth-of-type(even) {
    text-align: right;
  }
}
