@import "./_variables.scss";

#faqs {
  section {
    margin-top: 30px;
  }

  .content-well {
    background-color: $well-bg-color;

    p {
      color: $well-text-color;
    }

    margin-bottom: 20px;

    border-radius: 5px;
    padding: 20px;

    .question {
      font-weight: 700;
      font-style: italic;
    }
  }
}
