@import "./_variables.scss";
@import "./_header.scss";
@import "./_menu.scss";
@import "./about.scss";

body {
  margin: 0;
  margin-top: 45px;

  font-family: $font-family;
}

main {
  width: 100%;
  max-width: 1440px;
  margin: 0 auto;
  margin-top: 60px;

  .wrapper {
    padding: 0 $outside-gutter-spacing;
  }
}

a {
  cursor: pointer;
  text-decoration: none;

  &, &:visited {
    color: $blue;
    font-weight: 400;
  }

  &:hover {
    text-decoration: underline;
  }

  &:focus {
    text-decoration: none;
  }
}

* {
  font-weight: 100;
}

h1, h2, h3, h4, h5, h6 {
  font-family: $header-fonts;
  margin: 0;
  color: $black;
  font-weight: 700;
}

p {
  font-size: 14px;
  margin-top: 0;
  &:nth-of-type(0) {
    margin-top: 10px;
  }

  text-align: justify;

  color: $dark-gray;

  &:last-of-type {
    margin-bottom: 0px;
  }
}

#one-sentence-summary {
  margin-top: 10px;
  font-size: 17px;
  font-family: $font-family;
  font-weight: 100;
}

blockquote {
  margin: 0 auto;
  color: $black;
  text-align: justify;
}

.cite {
  display: block;
  text-align: center;
  margin-top: 10px;
  color: $gray;
}
