@import "./_variables.scss";
@import "./_header.scss";
@import "./_menu.scss";
@import "./about.scss";
@import "./my-work.scss";
@import "./problems-i-solve.scss";
@import "./faqs.scss";
@import "./hire-me.scss";

body {
  margin: 0;
  margin-top: 45px;

  font-family: $font-family;
}

main {
  width: 100%;
  max-width: $max-width;
  margin: 0 auto;
  margin-top: 60px;

  .wrapper {
    padding: 0 $outside-gutter-spacing;
  }
}

a {
  cursor: pointer;
  text-decoration: none;

  &, &:visited {
    color: $blue;
    font-weight: 400;
  }

  &:hover {
    text-decoration: underline;
  }

  &:focus {
    text-decoration: none;
  }
}

* {
  font-weight: 100;
}

h1, h2, h3, h4, h5, h6 {
  font-family: $header-fonts;
  margin: 0;
  color: $black;
  font-weight: 700;
}

p {
  font-size: 14px;
  margin-top: 0;
  &:nth-of-type(0) {
    margin-top: 10px;
  }

  color: $dark-gray;

  &:last-of-type {
    margin-bottom: 0px;
  }
}

#one-sentence-summary {
  margin-top: 10px;
  font-size: 17px;
  font-family: $font-family;
  font-weight: 100;
}

blockquote {
  margin: 0 auto;
  color: $black;
}

.cite {
  display: block;
  margin-top: 10px;
  color: $gray;
  margin-bottom: 30px;
}

.cite:last-of-type {
  margin-bottom: 10px;
}

.strong {
  font-weight: 700;
}

.btn {
  display: inline-block;
  background: $blue;
  box-shadow: 0px 2px 4px 0px rgba(0,0,0,0.50);
  border-radius: 3px;
  padding: 10px 20px;
  font-size: 14px;
  color: $white;
  font-weight: 300;

  &:hover, &:visited, &:focus {
    color: $white;
    text-decoration: none;
  }
}

.text-center {
  text-align: center;
}

.checkbox, .checkbox + label {
  cursor: pointer;
  position: relative;
}

.checkbox {
  opacity: 0;
  position: absolute;
}

.checkbox + label {
  margin-right: 15px;
}

.checkbox + label:before {
  content: '';
  background-color: $white;
  border: 2px solid $blue;
  border-radius: 8px;
  display: inline-block;
  vertical-align: middle;
  width: 20px;
  height: 20px;
  padding: 2px;
  margin-right: 5px;
  text-align: center;
  padding-top: 5px;

  transition: background-color 0.6s ease-in;
}

.checkbox:checked + label:before {
  content: "\f00c";
  padding-top: 5px;
  font-family: 'FontAwesome';
  background: $blue;
  color: $white;

  transition: background-color 0.6s ease-in;
}

label {
  white-space: nowrap;
}
